html {
  box-sizing: border-box;
  font-size: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
   /* grid-template-columns: 20%  20%  20%  20%  20% 20%; */
  grid-template-rows: 100px;
  grid-auto-rows: 300px 80px;
   grid-gap: 20px;
}

.item {
  border: 1px solid black;
  background-color: gray;
  color: white;

  /* gracias a que el texto es un flex-item */
  display: flex;
  justify-content: center;
  align-items: center;
}


  /*.item1 {
  /* grid-column-start: 1;
  grid-column-end:  3;
  grid-row-start: 3;
  grid-row-end: 4; 
 Shorthand 
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}*/

.itemespacio {
    grid-column: 1 / span 1;
    grid-row: 1 /span 3;


  }
.item2 {
  grid-column: 2 / span 1;

}
.item3 {
    grid-column: 3 / span 1;
  /*   grid-row: 1 / span 2;  */ 
}

.item4 {
    grid-column: 4 / span 1;
}

.item5 {
    grid-column: 5 / span 1;
}

.item5 {
    grid-column: 5 / span 1;
}


.item18 {
    grid-column: 6 / span 1;
}
.item7 {
    grid-column: 7 / span 1;
    position: relative;
}
.item6 {
    grid-column:  span 1;
    position: relative;
}

.item8{
 grid-row: 2 /span 2;
 display: inline;
 grid-column: span 1;

}

.item9{
    grid-row: 2 /span 2;
    grid-column: span 5;
    background-image: url("DINAMICA/nguyen-dang-hoang-nhu-Nne2TxFHPyQ-unsplash@2x.png");
    background-size: contain;
    position: relative;
    z-index: 2;
}


.flechaizq {
    grid-column:  span 1;
    background-image: url("DINAMICA/Flechas\ \(2\).svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .flechadere {
    grid-column:  span 1;
    background-image: url("DINAMICA/Flechas\ \(1\).svg");
    background-position: center;
    background-repeat: no-repeat;

  }
.item10{
    grid-column: span 1 ;
    position: relative;

}

.item11{
    grid-column: span 2 ;
}

.item12{
    grid-column: span 2 ;
    position: relative;
}

.espaciotexto {
    grid-column: span 1;
    grid-row: span 2;

  }
.texto1{
    grid-column: span 1 ;
    grid-row: span 2;
    position: relative;


}

.texto2{
    grid-column: span 2 ;
    grid-row: span 2;
    position: relative;


}

.texto3{
    grid-column: span 2 ;
    grid-row: span 2;
    position: relative;


}

.item13{
    grid-row: span 3;
    position: relative;
    display: inline;
    grid-column: span 2 ;
}

#dimitri {
    position: absolute;
    top: 20%;
    left: 32%;
    height: 81%;

}
#camisa{

    height: 51%;
    width: 58%;

}



.item14{
    grid-row: span 1;
    grid-column: span 5 ;
    position: relative;

}

.item15{
    grid-column: span 5 ;
    grid-row: span 2;
    position: relative;
    padding-left: 5%;


}
.item16{
    grid-column: span 1 ;
    grid-row: span 2;
    position: relative;
}
.item17{
    grid-column: span 1;
    grid-row: span 2;
    position: relative;
    padding-left: 30%;
    padding-top: 7%;
    display: inline;


}
.item19{
    grid-column: span 5 ;
    grid-row: span 2;
    position: relative;

}


.vermas{
    display: inline;
}

.myButton {
    margin: auto;
	background-color:transparent;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#030303;
	font-family:Arial;
	font-size:17px;
	padding:11px 57px;
    text-decoration:none;
    position: relative;

}

.mover{
    position: relative;
    left: 13%;
    top: 34%;

}

.mover1{
    position: relative;
    left: 3%;
    top: 34%;

}

#cuadroamarillo{
    position: absolute;
    top: 0%;
    left: 14%;
    width: 86%;
    height: 100%;
}

#textoamarillo{
    position: absolute;
    width: 51%;
    left: 1%;
    top: 35%;
    font-size: 16px;

}

#textoamarillo1{
    position: absolute;
    width: 34%;
    height: 7%;
    left: 39%;
    top: 76%;
    color: #e4b129;
    text-align: center;
    font-size: 16px;
}

#textoamarillo2{
    position: absolute;
    width: 34%;
    height: 7%;
    left: 39%;
    top: 87%;
    text-align: center;
    font-size: 20px;
}

#h1amarillo{
    position: absolute;
    width: 58%;
    height: 10%;
    right: 42%;
    bottom: 63%;
    font-size: 50px;

}

#img-19{
        position: absolute;
        height: 95%;
        left: 0%;
}

#logo{


    position: relative;
    width: 54%;
    height: 77%;
    right: 37%;
}

#catalogo{
    position: relative;
    width: 80%;
    height: 77%;
    right: 6%;
    top: 20%;
}
#catalogoderecha{
    position: relative;
    width: 58%;;
    height: 73%;
    right: 8%;
    top: 24%;
}
#catalogodos{

    position: relative;
    width: 65%;
    height: 98%;
    right: 8%;
    top: 10%;
}


.textoheader{
    font-size: 60%;
    position: relative;
    right: 37%;
}

#campana{
    position: relative;
    width: 15%;
    height: 50%;
    left: 7%;
}

#carrito{
    position: relative;
    width: 135%;
    right: 214%;

}

#primerlorem{
    width: 94%;
    height: 43%;
    position: relative;
    font-size: 17px;
    right: 13%;
    bottom: 3%;

}

#tituloloremuno{
    position: relative;
    font-size: 50px;
    right: 15%;
}


#flecha{
    width: 18%;
    height: 19%;
}

#loremdos{
    position: absolute;
    width: 48%;
    height: 19%;
    font-size: 50%;
    top: 11%;
    text-align: center;
    right: 34%;
}



#loremdosizquierdo{

    position: absolute;
    width: 49%;
    height: 19%;
    font-size: 50%;
    top: 11%;
    text-align: center;
    right: 34%;
}
#loremderecho{
    position: absolute;
    width: 65%;
    height: 19%;
    font-size: 50%;
    top: 11%;
    text-align: center;
    right: 27%;

}

.caja {
    height: 62%;
    width: 3%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #140649;
    position: absolute;
    right: 100%;
    top: 30%;
}



.caja2 {
    height: 36%;
    width: 17%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #140649;
    position: absolute;
    left: 71%;
    top: 46%;
}

.cajaultimaimagen{

    height: 36%;
    width: 30%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #140649;
    position: absolute;
    left: 50%;
    top: 87%;
}


.linea {
    height: 0.5px;
    width: 286%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #69686b;
    position: absolute;
    left: 28%;
    top: 68%;
}

.cuadroamarrilozapato{

    height: 37%;
    width: 74%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: #fff6a8;
    position: absolute;
    right: 28%;
    top: 17%;

}

#loremproducto{
    font-size: 80%;
    text-align: center;
    position: absolute;
    right: 35%;
    top: -1%;
}

#lorem-14{
    font-size: 70%;
    width: 65%;
    text-align: center;
    position: absolute;
    right: 41%;
    bottom: 1%;


}



.myButtonazul {
    margin: auto;
    background-color: rgb(19, 19, 70);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 17px;
    padding: 11px 57px;
    text-decoration: none;
    position: relative;
    top: 17%;
    right: 41%;
}

#texto17{
    width: 145%;
    height: 102%;
    font-size: 18px;
    position: absolute;
    top: 55%;
    left: 99%;
    text-align: inherit;
}


#h1-17{
    position: relative;
    top: 29%;
    left: 97%;
    width: 247%;
    font-size: 40px;
}
#img-19{
    position: relative;
    top: 20%;
    left: 0%;

}